//**global**//
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$color-black:#303030;

$color-black2:#4c4c4c;

$color-black-hr:#0000003c;


body {
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  margin: 0;
  font-family: 'Andalé Mono', monospace;
  hr{
    border-top: 1px solid $color-black-hr;
    }
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

//**pages**//
.navbar-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
  .shop-about{
    display: flex;
    width: 150px;
    justify-content: space-around;
    font-size: 19px;
  }
  .icons{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    *{
      cursor: pointer;
    }
    .count{
      position: absolute;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background-color: #fe6347;
      color: white;
      text-align: center;
      font-size: 14px;
      margin-left: 5px;
      top: 20px;  
    }
  }
  h2{
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
    
  }
  p:hover{
    border-bottom: rgba(0, 0, 0, 0.2352941176) 2px solid;
    cursor: pointer;
  }
  
}

.filters{
  min-width: 250px;
  margin-right: 40px;
  text-align: center;
  max-width: 300px;
  input[type=text]{
    appearance: none;
    width: 80%;
    border: 1px $color-black-hr solid;
    border-radius: 20px;
    height: 24px;
    padding: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.5s ease-in-out;
    margin-bottom: 15px;
    margin-top: 10px;
    &:focus{
      background-color: #eeeeee;
    }
  }

  input[type="range"] { 
      margin: auto;
      -webkit-appearance: none;
      position: relative;
      overflow: hidden;
      height: 20px;
      width: 200px;
      cursor: pointer;
      border-radius: 0; /* iOS */
    &::-webkit-slider-runnable-track {
      background: #ddd;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px; /* 1 */
        height: 20px;
        background: #fff;
        box-shadow: -200px 0 0 200px $color-black2; /* 2 */
        border: 2px solid #999; /* 1 */
    }
  }


  .reset{
    appearance: none;
    background: none;
    width: 120px;
    height: 50px;
    border: none;
    cursor: pointer;
    margin-top: -10px;
    transition: all 0.5s linear;
    color:  #303030;
    &:hover {
      color: black;
    }
  }
  h1{
    font-weight: 500px;
  }
  .colors{
    display: flex;
    flex-direction: column;
    padding: 10px 25px 10px 25px;
    .color{
      cursor: pointer;
      height: 35px;
      display: flex;
      justify-content: space-between;
      margin: 5px 0px 5px 0px;
      *{
        cursor: pointer;
      }
      input[type=checkbox] {
       width: 15px;
       height: 15px;
       outline: 1px solid #666;
       border: 1px solid #fff;
       background: #fff;
       border-radius: 0;
       padding: 0;
       margin: 0;
       width: 14px;
       height: 14px;
       display: inline-block;
       appearance: none;
      }
      input[type=checkbox]:checked{
        background: #B6C2CC;
      }
    }
  }
  .colors-hidden{
    display: none;
  }
  .title-toogle{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    div{
      width: 50px;
    }
    .arrow {
      margin-top: 25px;
      border: solid black;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transition: all 0.5s ease;
    }
    
    .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
    
    .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }

}

.product-page{
  display: flex;
  padding:80px 10% 0 10%  ;
  min-height: 70vh;
  justify-content: center;

  .products{
  min-height: 1200px;
  min-width: 1100px;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  .product{
    margin: 15px;
    margin-bottom: 65px;
    color:  #494949;
    transition: all 0.4s ease-in-out;
    .product-desc{
      display: flex;
      flex-direction: column;
      padding: 10px;
      p{
        margin-top: 10px;
      }
      h4{
        font-weight: 600;
        margin: 0;
      }
      h3{
        font-weight: 600;
        margin: 0;
        margin-top: 10px;
      }
    }
    img{
      width: 300px;
      cursor: pointer;
    }
    .images{
      display: none;
      
    }
    .small-img{
        width: 80px;
        height: 60px;
        cursor: pointer;
        position: relative;
        margin: 3px;
    }
    &:hover{
      scale: 1.05;
      height: 345px;
      img{
        animation: blur 0.4s normal ease-out;
      }
      .product-desc{
        display: none;
      }
      .images{
        display: flex;
        overflow: hidden;
        width: 300px;
        overflow: auto;
      }

      .images::-webkit-scrollbar {
        height: 12px;
      }

      .images::-webkit-scrollbar-track {
        background-color: #e4e4e4;
        border-radius: 100px;
      }

      .images::-webkit-scrollbar-thumb {
        background-color: #B6C2CC;
        border-radius: 100px;
      }

    }
  }

  } 
  .products-loading{
    min-height: 100%;
    min-width: 1100px;
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;

    .product-loading{
      display: flex;
      width: 300px;
      height: 340px;
      margin: 15px;
      height: 340px;
      margin-bottom: 65px;
      flex-direction: column;
      
      .image-loading{
        width: 100%;
        height: 225px;
        animation: load 1s infinite ease-in;
      }
      .p-loading{
        width: 50%;
        height: 17px;
        animation: load 1s infinite linear;
        margin-top: 20px;
      }
      .h-loading{
        width: 80%;
        height: 20px;
        animation: load 1s infinite ease-in-out;
        margin-top: 15px;
      }
      .g-loading{
        width: 20%;
        height: 20px;
        animation: load 1.5s infinite ease-in;
        margin-top: 15px;
      }
    }
    
  }
  .navigation-container{
    width: 100%;
    height: 70px;
    border-top: $color-black-hr 3px solid;
    display: flex;
    justify-content: center;
    bottom: 0;
    div{
      margin: 20px;
      width: 40px;
      height: 40px;
      text-align: center;
      cursor: pointer;
      &:hover{
        border-bottom: $color-black 2px solid
      }
    }
    .active{
      margin: 20px;
      width: 40px;
      height: 40px;
      text-align: center;
      border-bottom: $color-black-hr 2px solid
    }
  }
}

.single-product-page{
  display: flex;
  justify-content: center;
  padding: 0 50px 0 50px;
  .image-section{
    display:flex;
    flex-wrap: wrap;
    width: 850px;
    height: 100%;
    img{
      width: 47%;
      height: 31%;
      margin: 10px;
    }
  }
  .functional-section{
    min-width: 450px;
    width: 450px; 
    margin-left: 50px;
    h1{
      font-size: 40px;
    }
    .desc{
      font-size: 19px;
    }
    p{
      font-size: 17px;
    }
    hr{
      margin: 25px 0 25px 0;
    }
    .small-img{
      width: 90px;
      height: 70px;
      cursor: pointer;
      margin: 5px;
    }
    .c{
      width: 90px;
      height: 5px;
      background-color: $color-black;
    }
    .status{
        margin: 8px;
        font-size: 14px;
      }
  }
}

.cart-allert{
  .added-alert-hidden{
    display: none;
  }
  .triangle-hidden{
    display: none;
  }
  .triangle{
      position: absolute;
      right: 20%;
      top: 70px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 25px 45px 25px;
      border-color: transparent transparent #f7f7f7 transparent;
    }
  .added-alert{
    width: 300px;
    // height: 200px;
    background-color: #f7f7f7;
    position: absolute;
    right: 20%;
    top: 100px;
    color: #000000;
    padding: 0 2px 0 10px;
    p{
      margin: 10px;
      text-align: end;
    }
      .items{
        overflow: auto;
        height: 150px;
      &::-webkit-scrollbar {
        height: 15px;
      }
      &::-webkit-scrollbar-track {
        background-color: #e4e4e4;
        border-radius: 100px;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: #B6C2CC;
        border-radius: 100px;
      }
      }
      
    
      .item-cart{
        display: flex;
        align-items: center;
        
        img{
        width:75px;
          height: 60px;
        }
      }
    }
}

.reviews-page{
  display: flex;
  justify-content: center;
  padding: 0 50px 0 50px;
  margin-top: 200px;
  flex-direction: column;
  align-items: center;

  .reviews-title-add{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: flex-start;
    div{
      h1{
        margin-top: 0;
      }
    }
  }
  .review-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    align-items: center;

    .review-schema-hidden{
      opacity: 0;
      height: 0;
      overflow: hidden;
    }

    .review-schema {
      opacity: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      transition: all 0.2s ease-in; 
      padding: 20px;

      div{
        display: flex;
        flex-direction: column;

        input[type=text]{
          border: none;
          outline:none;
          border:1px solid rgb(179, 179, 179);
          height: 20px;
          width: 150px;
        }

        .star-container{
          display: flex;
          flex-direction: row;
          .fa{
            margin-left: 5px;
            cursor: pointer;
          }
        }
        
        .opinion-input{
          resize: none;
          border: none;
          outline:none;
          border:1px solid rgb(179, 179, 179);
          width: 400px;
          height: 100px;
          font-size: large;
        }
      } 
    }
  }


  hr{
      width: 75%;
  }

  .single-review{
    display: flex;
    width: 100%;
    min-width: 500px;
    justify-content: center;
    .name{
      margin:  1% 2% 1% 2%;
      font-size: large;
      width: 100px;
    }
    .stars{
      margin:  1% 3% 1% 1%;
      min-width: 120px;
    }
    .date{
      color: rgb(132, 132, 132);
      margin:  1% 2% 1% 5%;
    }
    .comment{
      width: 550px;
      font-style: italic;
      overflow: auto;
      margin: 30px 1% 0  1%;
      text-align: justify;
    }
  }
}

.cart-page{
  display: flex;
  justify-content: center;
  padding: 60px;
  color: $color-black2;
  .products-site{
    min-width: 450px;
    width: 60%;
    max-width: 1100px;
    h1{
      font-weight: 100;
    }
    .titles{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-left: 380px;
      h3{
        width: 100px;
      }
    }
    .product{
      display: flex;
      align-items: center;
      svg{
        margin-left: 10px;
        margin-right: 5px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
      }
      svg:hover{
        transform: rotate(90deg);
        scale: 1.3;
      }
      .info{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        p{
        font-size: 20px;
        width: 100px;
      }
      
      }
      img{
        width: 300px;
        height: 230px;
      }
      
    }
  }
  .info-site{
    width: 35%;
    min-width: 400px;
    max-width: 600px;
    margin-left: 50px;
   
    h1{
      font-weight: 100;
    }
    .info{
      .shiping{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        .radio{
          display: flex;
          flex-direction: column;
          div{
            p{
              margin: 2px;
            }
            input{
              width: 15px;
              height: 15px;
            }
          }
        }
        .total-ship{
          display: flex;
          justify-content: flex-end;
        }
      }
      div{
        display: flex;
        justify-content: space-between; 
        
      }
    }
  }
}

.loader-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .spinner {
    width: 60px;
    height: 60px;
    border: 6px solid;
    border-color: $color-black2 transparent $color-black2 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
  }
}

.footer-container{
  margin-top: 50px;
  width: 100%;
  background-color: #f7f7f7;
  
  .content{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    p{
      color: $color-black2;
      &:hover{
        border-bottom: rgba(0, 0, 0, 0.2352941176) 2px solid;
        cursor: pointer;
      }
    }
    h3{
      color: $color-black;
    }  
  }
  .copywriting{
    color: $color-black-hr;
    font-size: 14px;
    margin-left: 20%;
    margin-bottom: 20px;
  }
  input{
    appearance: none;
    border: 1px $color-black-hr solid;
    height: 20px;
    padding: 5px;
    font-size: 16px;
    outline: none;
  }
}

.login-page{
  display: flex;
  padding: 100px 15% ;
  input{
      border: none;
      border-bottom: 2px solid #9098a9;
      appearance: none;
      width: 400px;
      height: 50px;
      font-size: 18px;
      color: #000000;
      -webkit-appearance: none;
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }      
      &::placeholder{
        color: #9098A9
      }
      &:focus{
        outline: none;
        border: none;
        border-bottom: 2px solid #223254;
      }
    }
  .login{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .register{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center ;
    .input-container{
      input{
        margin: 0px 10px;
      }
      
    }
  }
  
}

.profile-page{
  display: flex;
  justify-content: center;
  padding: 60px; 
  
  .user-info{
    min-width: 350px;
    width: 45%;
    .person-info{
      display: flex;
    }
    .address-info{
      width: 300px;
      h4{
        display: flex;
        height: 25px;
        font-size: 18px;
      }
      input{
        border: none;
        border-bottom: 2px solid #9098a9;
        appearance: none;
        width: 100%;
        height: 25px;
        font-size: 18px;
        color: #454545;
        font-weight: bold;
        -webkit-appearance: none;
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }      
        &::placeholder{
          color: #949494
        }
        &:focus{
          outline: none;
          border: none;
          border-bottom: 2px solid #223254;
        }
      }
    }
  }
  .orders{
    width: 50%;
    max-height: calc(100vh - 300px); 
    border: 1px solid black;
    overflow: auto;
    *{
      text-decoration: none;
    }
    hr{
      border-top: 2px solid $color-black-hr;
      }
    .order{
      padding: 30px;
      h3{
        margin: 5px;
        color: $color-black;
      }
      .total{
        text-align: end;
        margin-right:70px ;
      }
        .product{
        display: flex;
        justify-content: flex-start;
        margin: 20px;
        max-height: 150px;
        &:hover{
          scale: 1.05;
        }
        .product-info{
          display: flex;
          flex-direction: column;
         
          h4{
            color: $color-black;
            margin: 6px;
          }
        }
      }
    }
  }
}

//**media**//

@media only screen and (max-width: 1800px) {
  .image-section {
    min-width: 700px !important;
  }
  .triangle{
    right: 18% !important;
  }
  .added-alert{
    right: 18% !important;
  }
}
@media only screen and (max-width: 1400px) {
  .product-page{
    flex-direction: column;
    
  }
  .cart-page{
    .products-site{ 
      .color{
          display: none;
        }
      }
    }
    .filters{
      max-width: none !important;
      input[type="range"] { 
        width: 500px;
        &::-webkit-slider-thumb {
            box-shadow: -500px 0 0 500px $color-black2; /* 2 */
        }
      }
    }
}
@media only screen and (max-width: 1200px) {
  .image-section {
    min-width: 400px !important;
    img{
      width: 45% !important;
      height: 31%  !important; 
      margin: 10px;
    }
  }
  .triangle{
    right: 15% !important;
  }
  .added-alert{
    right: 15% !important;
  }
  .product-page{
    .products{
      min-width: 0;
      justify-content: center;
      .product{
        justify-content: center;
        img{
          width: auto;
        }
      }
    }
    .products-loading{
      min-width: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      .product-loading{
        min-width: 390px;
      }
    }
  }

  .cart-page{
    flex-direction: column;
    .products-site{
      width: 100%;
    }
    .info-site{
      max-width: 80%;
      width: 80%;
    }
  }
  .login-page{
    flex-direction: column;
    .login{
      width: 80%;
      margin-bottom: 50px;
    }
    .register{
      width: 80%;
    }
  }

}
@media only screen and (max-width: 1000px) {
  .single-product-page{
    flex-direction: column-reverse;
    align-items: center;
  }
  .product-page{
    .product:hover{
      height: 413px !important;
    }
  }
  
  .profile-page{
    flex-direction: column;
    .user-info{
      width: 100%;
      margin-bottom: 40px;
    }
    .orders{
      width: 100%;
      .product:hover{
        scale: 1.1 !important;
      }
    }
  }
}


//**animations**//

@keyframes load {
  0%   {background-color: rgba(235, 235, 235, 0.822);}
  50%  {background-color: rgba(217, 217, 217, 0.822);}
  100% {background-color: rgba(235, 235, 235, 0.822);}
}
@keyframes blur {
  0%   {filter: blur(4px);
  }
  50%  {filter: blur(2px);
  }
  100% {filter: blur(0px);
  }
}
@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


